{% extends 'main.html' %}


{% block content %}
    <h3><i class="fa fa-angle-right"></i> 本职位信息分布情况</h3>
    <div id="city" style="width: 100%;height:600px;"></div>
    <div id="salary" style="width: 100%;height:600px;"></div>
    <div id="workyear" style="width: 100%;height:600px;"></div>
    <div id="education" style="width: 100%;height:600px;"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // 动态选择标签
        $('ul#nav-accordion li a').removeClass();
        $('ul#nav-accordion li:eq(1) a').addClass("active");
    </script>
    {#    城市分布图#}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('city'));

        // 指定图表的配置项和数据
        var option = {
            {#backgroundColor: '#b5ad48',#}

            title: {
                subtext: 'data from lagou.com',
                sublink: 'http://www.lagou.com',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                left: 'left',
                orient: 'vertical',
                data: []
            },
            series: [{
                name: '数量（占比）',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };
        myChart.setOption(option);

        {# 异步加载数据 #}
        myChart.showLoading();
        var names = [];
        var nums = [];
        var selected = {};
        $.ajax({
            type: "get",
            url: "/general/city_json/",
            dataType: "json",
            success: function (result) {
                if (result) {
                    for (var i = 0; i < result["data"].length; i++) {
                        key = (result["data"][i]["name"]);
                        num = (result["data"][i]["value"]);
                        names.push(key);
                        nums.push(num);
                        if (i >= 12) {
                            selected[key] = false
                        }

                    }
                    myChart.hideLoading();
                    myChart.setOption({
                        title: {
                            text: result['keyword'] + '相关职位城市分布情况'
                        },
                        series: {
                            data: result["data"]
                        },
                        legend: {
                            data: names,
                            selected: selected
                        }
                    });
                }
            },
            error: function (errorMsg) {
                alert("请输入职位关键词!");
                myChart.hideLoading();
            }
        });

    </script>

    {#    学历、工作经验分布图#}
    <script type="text/javascript">
        var eChart = echarts.init(document.getElementById('education'));
        var wChart = echarts.init(document.getElementById('workyear'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                subtext: 'data from lagou.com',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['职位数量'],
                left: 'left'
            },
            xAxis: {
                type: 'category',
                data: []
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '职位数量',
                    type: 'bar',
                    data: []
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        eChart.setOption(option);
        wChart.setOption(option);

        eChart.showLoading();
        wChart.showLoading();

        var e_names = [];
        var e_nums = [];
        var w_names = [];
        var w_nums = [];
        $.ajax({
            type: "get",
            url: "/general/education_workyear_json/",
            dataType: "json",
            success: function (result) {
                if (result) {
                    for (var i = 0; i < result["edu_data"].length; i++) {
                        key = (result["edu_data"][i]["name"]);
                        num = (result["edu_data"][i]["value"]);
                        e_names.push(key);
                        e_nums.push(num);
                    }
                    for (var j = 0; j < result["work_data"].length; j++) {
                        key = (result["work_data"][j]["name"]);
                        num = (result["work_data"][j]["value"]);
                        w_names.push(key);
                        w_nums.push(num);
                    }
                    eChart.hideLoading();
                    wChart.hideLoading();

                    eChart.setOption({
                        title: {
                            text: result['keyword'] + '相关职位教育背景分布情况'
                        },
                        xAxis: {
                            data: e_names
                        },
                        series: {
                            data: e_nums
                        }
                    });
                    wChart.setOption({
                        color: ['#3398DB'],
                        title: {
                            text: result['keyword'] + '相关职位工作经验分布情况'
                        },
                        xAxis: {
                            data: w_names
                        },
                        series: {
                            data: w_nums
                        }
                    });
                }
            },
            error: function (errorMsg) {
                alert("数据获取失败，请与管理员联系!");
                eChart.hideLoading();
                wChart.hideLoading();
            }
        });
    </script>

    {#    薪资分布图#}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var sChart = echarts.init(document.getElementById('salary'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                subtext: 'data from lagou.com',
                sublink: 'http://www.lagou.com',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            xAxis: {
                name: '薪资/元',
                type: 'category',
                data: []
            },
            yAxis: {
                name: '职位数量',
                type: 'value'
            },
            series: [{
                name: '职位数量',
                type: 'line',
                data: [],
                areaStyle: {},
                smooth: true
            }]
        };
        sChart.setOption(option);

        {# 异步加载数据 #}
        sChart.showLoading();
        var salary = [];
        var values = [];
        $.ajax({
            type: "get",
            url: "/general/salary_json/",
            dataType: "json",
            success: function (result) {
                if (result) {
                    for (var i = 0; i < result["data"].length; i++) {
                        key = (result["data"][i]["name"]);
                        num = (result["data"][i]["value"]);
                        salary.push(key);
                        values.push(num);
                    }
                    sChart.hideLoading();
                    sChart.setOption({
                        title: {
                            text: result['keyword'] + '相关职位薪资分布情况'
                        },
                        series: {
                            data: values
                        },
                        xAxis: {
                            data: salary
                        }
                    });
                }
            },
            error: function (errorMsg) {
                alert("请输入职位关键词!");
                sChart.hideLoading();
            }
        });

    </script>

{% endblock %}
