<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>
        IT职业数据可视化分析系统 - 主页
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/static/main/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/main/css/style.css" rel="stylesheet">
    <link href="/static/main/css/style-responsive.css" rel="stylesheet">


    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">


</head>

<body>


<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>
            {% block titlebar %}
                IT职业分析系统
            {% endblock %}
        </b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{{ url_for('UserView:logout') }}">Logout</a></li>
            </ul>
        </div>
{#    flask 消息#}
        {% for message in get_flashed_messages() %}
            <div style="width: 50%; margin: auto; text-align: center;" class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    {% block sidebar %}

        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <p class="centered"><a href="profile.html"><img src="/static/main/img/ui-sam.jpg" class="img-circle"
                                                                    width="60"></a></p>
                    <h5 class="centered">{{ current_user.name }}</h5>

                    <li class="mt">
                        <a href="{{ url_for('HomeView:index') }}">
                            <i class="fa fa-dashboard"></i>
                            <span>近期职位概况</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a href="{{ url_for('PositionView:index') }}">
                            <i class="fa fa-desktop"></i>
                            <span>心仪职位数据分析</span>
                            {# TODO 计算出每个城市的平均薪资，得结论 #}
                        </a>
                    </li>

                    <li class="mt">
                        <a href="{{ url_for('CityView:index') }}">
                            <i class="fa fa-cogs"></i>
                            <span>心仪城市数据分析</span>
                            {# TODO 展示薪资分布情况，工作经验、教育背景分布情况 #}
                        </a>
                    </li>
                    <li class="mt">
                        <a href="{{ url_for('WESView:index') }}">
                            <i class="fa fa-book"></i>
                            <span>工作经验/教育背景-薪资关系</span>
                            {#TODO 不同工作经验的薪资分布折线图，放到一起比较#}
                            {# TODO 在右上方展示已经选择的选项，可以重置 #}
                        </a>
                    </li>
                    <li class="mt">
                        <a href="javascript:;">
                            <i class="fa fa-tasks"></i>
                            <span>公司规模/发展阶段-薪资关系</span>
                            {# TODO 询问是否要指定公司大小及阶段 #}
                            {# TODO 选择合适的地方指定薪资 #}
                        </a>
                    </li>
                    <li class="mt">
                        <a href="{{ url_for('ResultView:index') }}">
                            <i class="fa fa-th"></i>
                            <span>分析结果及职位推荐</span>
                        </a>
                    </li>
                    <li class="mt">
                        <a href="{{ url_for('UserView:center') }}">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>个人中心</span>
                        </a>
                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
    {% endblock %}

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">

            {% block content %}

            {% endblock %}

        </section>
        <! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/static/main/js/jquery.js"></script>
<script src="/static/main/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/static/main/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/main/js/jquery.scrollTo.min.js"></script>
<script src="/static/main/js/jquery.nicescroll.js" type="text/javascript"></script>
<script type="text/javascript" src="http://echarts.baidu.com/dist/echarts.js"></script>


<!--common script for all pages-->
<script src="/static/main/js/common-scripts.js"></script>

<!--script for this page-->

{% block scripts %}

{% endblock %}

<script>
    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

</script>

</body>
</html>
