{% extends 'main.html' %}


{% block content %}
    <h3><i class="fa fa-angle-right"></i> {{ keyword }} 相关职位信息分布情况</h3>
    <div class="row">
        <div class="main-chart">

            <div class="row mtbox">
                <div id="city_box" class="col-md-2 col-sm-2 col-md-offset-2 box0">
                    <div class="box1">
                        <span class="fa fa-map-marker"></span>
                        <h3 id="con"></h3>
                    </div>
                    <p>{{ keyword }}相关职位主要分布在<span id="con"></span>等城市。</p>
                </div>
                <div id="salary_box" class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="fa fa-jpy"></span>
                        <h3 id="con"></h3>
                    </div>
                    <p>平均工资<span id="con"></span>￥。</p>
                </div>
                <div id="workyear_box" class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="fa fa-desktop"></span>
                        <h3 id="con"></h3>
                    </div>
                    <p>主要需求<span id="con"></span>工作经验的从业者。</p>
                </div>
                <div id="education_box" class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="fa fa-mortar-board"></span>
                        <h3 id="con"></h3>
                    </div>
                    <p>多数要求<span id="con"></span>学历</p>
                </div>
            </div><!-- /row mt -->
        </div>
    </div>

    <div id="city" style="width: 100%;height:600px;"></div>

    <br>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-md-offset-2">
            <form action="{{ url_for('WESView:index') }}" method="post" class="input-group">
                <div class="form-group">
                    <select id="city_option" name="city" class="form-control">
                        <option>全国</option>
                    </select>
                </div>
                <span class="input-group-btn">
                    <button id="select_btn" class="btn btn-default" type="button">确定</button>
                    <button class="btn btn-success" type="submit">提交/继续</button>
                </span>
            </form><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <br>

    <div id="salary" style="width: 100%;height:600px;"></div>
    <div id="workyear" style="width: 100%;height:600px;"></div>
    <div id="education" style="width: 100%;height:600px;"></div>
    <div style="margin-top: 20px;"></div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // 动态选择标签
        $('ul#nav-accordion li a').removeClass();
        $('ul#nav-accordion li:eq(1) a').addClass("active");
    </script>



    {#分布图#}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var cChart = echarts.init(document.getElementById('city'));
        var sChart = echarts.init(document.getElementById('salary'));
        var wChart = echarts.init(document.getElementById('workyear'));
        var eChart = echarts.init(document.getElementById('education'));

        // 指定图表的配置项和数据
        var coption = {

            title: {
                subtext: 'data from lagou.com',
                sublink: 'http://www.lagou.com',
                left: 'center',
                text: '城市分布'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                left: 'left',
                orient: 'vertical',
                data: []
            },
            series: [{
                name: '数量（占比）',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };
        cChart.setOption(coption, 1);


        var soption = {
            title: {
                subtext: 'data from lagou.com',
                sublink: 'http://www.lagou.com',
                left: 'center',
                text: '薪资分布'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            xAxis: {
                name: '薪资/元',
                type: 'category',
                data: []
            },
            yAxis: {
                name: '职位数量',
                type: 'value'
            },
            series: [{
                name: '职位数量',
                type: 'line',
                data: [],
                areaStyle: {},
                smooth: true
            }]
        };
        sChart.setOption(soption, 1);


        var ewoption = {
            title: {
                subtext: 'data from lagou.com',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['职位数量'],
                left: 'left'
            },
            xAxis: {
                type: 'category',
                data: []
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '职位数量',
                    type: 'bar',
                    data: []
                }
            ]
        };
        eChart.setOption(ewoption, 1);
        wChart.setOption(ewoption, 1);


        cChart.showLoading();
        sChart.showLoading();
        wChart.showLoading();
        eChart.showLoading();


        {# 异步加载数据 #}
        var cnames = [];
        var cnums = [];
        var selected = {};

        var salary = [];
        var svalues = [];

        var enames = [];
        var enums = [];

        var wnames = [];
        var wnums = [];

        $.ajax({
            type: "get",
            url: "/position/json/",
            dataType: "json",
            success: function (result) {
                if (result) {

                    $('#city_box #con').text(result['city_most']);
                    $('#salary_box #con').text(result['salary_avg']);
                    $('#workyear_box #con').text(result['wd']);
                    $('#education_box #con').text(result['ed']);

                    for (var i = 0; i < result["city_data"].length; i++) {
                        key = (result["city_data"][i]["name"]);
                        num = (result["city_data"][i]["value"]);
                        cnames.push(key);
                        cnums.push(num);
                        if (i >= 12) {
                            selected[key] = false
                        }
                    }
                    for (var j = 0; j < result["salary_data"].length; j++) {
                        key = (result["salary_data"][j]["name"]);
                        num = (result["salary_data"][j]["value"]);
                        salary.push(key);
                        svalues.push(num);
                    }
                    for (var e = 0; e < result["education_data"].length; e++) {
                        key = (result["education_data"][e]["name"]);
                        num = (result["education_data"][e]["value"]);
                        enames.push(key);
                        enums.push(num);
                    }
                    for (var w = 0; w < result["workyear_data"].length; w++) {
                        key = (result["workyear_data"][w]["name"]);
                        num = (result["workyear_data"][w]["value"]);
                        wnames.push(key);
                        wnums.push(num);
                    }


                    cChart.hideLoading();
                    sChart.hideLoading();
                    wChart.hideLoading();
                    eChart.hideLoading();


                    cChart.setOption({
                        series: {
                            data: result["city_data"]
                        },
                        legend: {
                            data: cnames,
                            selected: selected
                        }
                    });

                    sChart.setOption({
                        series: {
                            data: svalues
                        },
                        xAxis: {
                            data: salary
                        }
                    });

                    eChart.setOption({

                        title: {
                            text: '教育背景要求分布'
                        },
                        xAxis: {
                            data: enames
                        },
                        series: {
                            data: enums
                        }
                    });

                    wChart.setOption({

                        color: ['#3398DB'],
                        title: {
                            text: '工作经验要求分布'
                        },
                        xAxis: {
                            data: wnames
                        },
                        series: {
                            data: wnums
                        }
                    });

                    var secSelect = document.getElementById('city_option');
                    for (var s = 0; s < cnames.length; s++) {
                        var oOption = document.createElement('OPTION');
                        oOption.text = cnames[s];
                        secSelect.options.add(oOption);
                    }

                }
            },


            error: function (errorMsg) {
                alert("请输入职位关键词!");
                cChart.hideLoading();
                sChart.hideLoading();
                wChart.hideLoading();
                eChart.hideLoading();
            }


        });


        function httpPost(URL, PARAMS) {
            var temp = document.createElement("form");
            temp.action = URL;
            temp.method = "post";
            temp.style.display = "none";

            for (var x in PARAMS) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = PARAMS[x];
                temp.appendChild(opt);
            }

            document.body.appendChild(temp);
            temp.submit();

            return temp;
        }

        cChart.on('click', function (param) {
            {#alert(param.name)#}
            var params = {
                "city": param.name
            };
            httpPost('/wes/', params)
        });

    </script>


    <script type="text/javascript">

        var sChart = echarts.init(document.getElementById('salary'));
        var wChart = echarts.init(document.getElementById('workyear'));
        var eChart = echarts.init(document.getElementById('education'));

        var soption = {
            title: {
                subtext: 'data from lagou.com',
                sublink: 'http://www.lagou.com',
                left: 'center',
                text: '薪资分布'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            xAxis: {
                name: '薪资/元',
                type: 'category',
                data: []
            },
            yAxis: {
                name: '职位数量',
                type: 'value'
            },
            series: [{
                name: '职位数量',
                type: 'line',
                data: [],
                areaStyle: {},
                smooth: true
            }]
        };
        sChart.setOption(soption, 1);


        var ewoption = {
            title: {
                subtext: 'data from lagou.com',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['职位数量'],
                left: 'left'
            },
            xAxis: {
                type: 'category',
                data: []
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '职位数量',
                    type: 'bar',
                    data: []
                }
            ]
        };
        eChart.setOption(ewoption, 1);
        wChart.setOption(ewoption, 1);

        sChart.showLoading();
        wChart.showLoading();
        eChart.showLoading();

        var btn = document.getElementById('select_btn');
        btn.addEventListener('click', function (ev) {
            var city = $('#city_option option:selected').val();
            var salary = [];
            var svalues = [];

            var enames = [];
            var enums = [];

            var wnames = [];
            var wnums = [];

            $.ajax({
                type: "post",
                url: "/position/select_json/",
                data: {"city": city},
                dataType: 'json',
                success: function (result) {

                    for (var j = 0; j < result["salary_data"].length; j++) {
                        key = (result["salary_data"][j]["name"]);
                        num = (result["salary_data"][j]["value"]);
                        salary.push(key);
                        svalues.push(num);
                    }
                    for (var e = 0; e < result["education_data"].length; e++) {
                        key = (result["education_data"][e]["name"]);
                        num = (result["education_data"][e]["value"]);
                        enames.push(key);
                        enums.push(num);
                    }
                    for (var w = 0; w < result["workyear_data"].length; w++) {
                        key = (result["workyear_data"][w]["name"]);
                        num = (result["workyear_data"][w]["value"]);
                        wnames.push(key);
                        wnums.push(num);
                    }


                    sChart.hideLoading();
                    wChart.hideLoading();
                    eChart.hideLoading();

                    sChart.setOption({
                        series: {
                            data: svalues
                        },
                        xAxis: {
                            data: salary
                        }
                    });

                    eChart.setOption({

                        title: {
                            text: '教育背景要求分布'
                        },
                        xAxis: {
                            data: enames
                        },
                        series: {
                            data: enums
                        }
                    });

                    wChart.setOption({

                        color: ['#3398DB'],
                        title: {
                            text: '工作经验要求分布'
                        },
                        xAxis: {
                            data: wnames
                        },
                        series: {
                            data: wnums
                        }
                    });

                },
                error: function (errorMsg) {
                    alert("数据错误，请重新选择！");
                }

            })
        });


    </script>

{% endblock %}
